<div class="row">
    <div class="mx-auto">
        <div id="success" class="alert mx-auto alert-success  {{#if noMessages }}invisible{{/if}}">
            {{successMsg}}
        </div>
    </div>
</div>

{{#each products}}

<div class="row">
    {{#each this}}
  <div class="col-md-4">
       
        <div class="card-deck" >
        <div class="card" style="width: 15rem;">
        <img src={{this.imagePath}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text" style="color:grey">{{this.description}}</p>
            <div>
                <p class='price float-left'>
                    ${{this.price}}
                </p>
                <a href="/add-to-cart/{{this._id}}" class="btn btn-primary float-right ">Add to cart</a>
            </div>
        </div>
        </div>
        </div> 
        
    </div>
    {{/each}}   
</div>
{{/each}}